<?xml version="1.0"?>
<launch>
    <arg name="robot_name"/>
    <!--<rosparam param="/behaviours">[{'name':'formation_control','centralized':false,'bandwidth':8}]-->
    <!--</rosparam>-->

    <!-- formation control with role assignment -->
    <node pkg="swarm_robot" type="formation_controller" name="formation_controller" args="$(arg robot_name)" output="screen">
        <!--<remap from="cmd_vel" to="robot_controller/cmd_vel"/>-->
    </node>
</launch>