<?xml version="1.0"?>
<launch>
    <arg name="robot_number" default = "1"/>
    <!--<arg name="behaviour_lib" />-->
    <!--<rosparam param="/behaviours">[{'name':'formation_control','centralized':false,'bandwidth':8}]-->
    <!--</rosparam>-->

    <!-- formation control with role assignment -->
    <!--<node pkg="swarm_center" type="formation_commander" name="formation_commander" output="screen">-->
        <!--<param name="arg robot_number" value="$(arg robot_number)"></param>-->
        <!--<remap from="cmd_vel" to="robot_controller/cmd_vel"/>-->
    <!--</node>-->
    <!-- multi robot coverage -->
    <node pkg="swarm_center" type="dispatch_center" name="dispatch_center" output="screen">
        <param name="robot_number" value="$(arg robot_number)"></param>
        <!--<remap from="cmd_vel" to="robot_controller/cmd_vel"/>-->
    </node>

    <node pkg="swarm_center" type="coverage_commander" name="coverage_commander" output="screen">
        <param name="robot_number" value="$(arg robot_number)"></param>
        <!--<remap from="cmd_vel" to="robot_controller/cmd_vel"/>-->
    </node>

    <node pkg="swarm_center" type="swarm_driver" name="swarm_driver" output="screen">
        <param name="robot_number" value="$(arg robot_number)"></param>
        <!--<param name="num_of_radios" value="2"/>-->
        <!--<param name="show_id" value="6"/>-->
        <!--<param name="run_rate" value="40"/>-->
        <param name="serial_dev0" value="/dev/ttyACM0"/>
        <param name="serial_dev1" value="/dev/ttyACM1"/>
        <!--<remap from="cmd_vel" to="robot_controller/cmd_vel"/>-->
    </node>

    <node pkg="swarm_center" type="swarm_visualization" name="swarm_visualization" output="screen">
        <param name="robot_number" value="$(arg robot_number)"></param>
    </node>

</launch>